#answer_component {
  border: 1px solid lightblue;
  min-width: 300px;
  justify-content: flex-start;
  cursor: pointer;
}

.answer-text {
  margin: 0.1rem;
  width: 350px;
  text-align: left;
}

.answer-correct {
  background: lightgreen;
}

.answer-incorrect {
  background: mistyrose;
}

@media(max-width: 800px) {
  .flex-h {
    flex-flow: column;
    justify-content: center;
    text-align: center;
  }

  .checkbox-m {
    transform: scaleX(3);
  }

  #answer_component {
    margin-bottom: 0.5rem;
  }

  .answer-text {
    text-align: center;
  }
}
